 form{
    display: block;
    width: 300px;
 }
 
 label {
    width: 25%;
    display: inline-block;
 }

 .sex {
    display: flex;
 }
 
 .sex p,input{
    margin: 0;
    margin-right: 10px;
 }

 .btn--active {
   pointer-events: auto;
   background-color: #ff8438;
   cursor: pointer;
 }